body {
  width: 80%;
  margin: 0 auto;
}
.content {
  width: 25rem;
  height: 0;
  margin: auto;
}
.img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.content:nth-of-type(1) > .img {
  background-image: url("./mems/1.jpg");
}
.content:nth-of-type(2) > .img  {
  background-image: url("./mems/2.jpg");
}
.content:nth-of-type(3) > .img  {
  background-image: url("./mems/3.jpg");
}
.content:nth-of-type(4) > .img  {
  background-image: url("./mems/4.jpg");
}
.content:nth-of-type(5) > .img  {
  background-image: url("./mems/5.jpg");
}


/* Accordeon effects */
.accordion input {
  display: none;
}

.accordion label {
  position: relative;
  display: block;
  background: #eee;
  padding: 0.625rem;
}

.accordion .content {
  display: none;
}

.accordion input:checked + label {
  background: #ccc;
}

.accordion input:checked + label + .content{
  display: block;
}
.accordion input:checked + label + .content .img {
  animation: 0.3s linear 0s forwards alternate appearance;
}

@keyframes appearance {
  0% {
    height: 6.25rem;
    transform: scale(40%);
  }
  100% {
    height: 100%;
  }
}





/* media */
/*mobile 320 x 568 */
@media (min-width: 300px) {
  body {
    font-size: 1rem;
  }
  .content {
    width: 100%;
    height: 14.38rem;
  }
}
/*tablet 820 x 1180 */
@media (min-width: 650px) {
  body {
    font-size: 2rem;
  }
  .content {
    height: 32.5rem;
  }
}
/*desktop 1920×1080 */
@media (min-width: 1300px) {
  
  body {
    font-size: 3rem;
  }
  .content {
    height: 57.5rem;
  }
  .accordion * {
    cursor: pointer;
  }
  /* icon of state and hover effects */
  .accordion:hover label::after {
    content: "";
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("./ico/plus-64x64.png");
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    right: 0.625rem;
    transition: transform 0.3s linear;
  }

  .accordion:hover input:checked + label::after {
    content: "";
    transform: rotate(45deg);
  }
  .accordion input:hover + label + .content{
    display: block;
  }
  .accordion input:hover + label + .content .img {
    animation: 0.3s linear 0s forwards alternate appearance;
  }
} 