body {
  width: 80%;
  margin: 0 auto;
}
.img {
  width: 400px;
  height: 300px;
  margin: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.content:nth-of-type(1) > .img {
  background-image: url("./mems/1.jpg");
}
.content:nth-of-type(2) > .img  {
  background-image: url("./mems/2.jpg");
}
.content:nth-of-type(3) > .img  {
  background-image: url("./mems/3.jpg");
}
.content:nth-of-type(4) > .img  {
  background-image: url("./mems/4.jpg");
}
.content:nth-of-type(5) > .img  {
  background-image: url("./mems/5.jpg");
}

.accordion input {
  display: none;
}

.accordion label {
  position: relative;
  display: block;
  background: #eee;
  padding: 10px;
}

.accordion .content {
  display: none;
}

.accordion input:checked + label {
  background: #ccc;
}

.accordion input:checked + label + .content {
  display: block;
}